<%= simple_form_for(@dog) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :dob, start_year: Date.today.year - 25, end_year: Date.today.year, order: [:month, :day, :year] %>
    <%= f.association :breed %>
    <%= f.input :medical_conditions %>
    <%= f.association :vet, collection: Vet.order(:doctor), label_method: :vet_clinic %>
    <%= f.input :in_daycare %>
    <%# TODO: add owner association %>
    <%= f.simple_fields_for(:custodies) do |custody_fields| %>
    <%= custody_fields.association :owner, collection: Owner.order(:last_name, :first_name) %>
    <% if custody_fields.object.persisted? %>
      <%= custody_fields.input :_destroy, as: :boolean %>
      <%# only show checkbox if object is saved %>
      <% end %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
